/* COMPONENTS  */
:root {
  --userListComponent: rgba(36, 139, 113, 0.5);
  --userComponent: rgba(3, 6, 141, 0.5);
  --contentModal: rgba(126, 88, 0, 0.5);
  --addUserComponent: rgba(122, 0, 0, 0.5);
  --updateUserComponent: rgba(100, 182, 7, 0.5);
}

/* UserList */
.userListComponent {
  background-color: var(--userListComponent);
}
.userListComponent-title {
  color: var(--userListComponent);
}

/* User */
.userComponent {
  background-color: var(--userComponent);
}
.userComponent-title {
  color: var(--userComponent);
}
/* confirmationModal */
.userComponent {
  background-color: var(--userComponent);
}
.userComponent-title {
  color: var(--userComponent);
}

/* addUserComponent Modal */

.addUserComponent {
  background-color: var(--addUserComponent);
}
/* addUserComponent Modal */
.updateUserComponent {
  background-color: var(--updateUserComponent);
}
/* ContentModal */

.contentModal {
  background-color: var(--contentModal);
}
/* Debug only  */
.noDisplay {
  display: none;
}
